<!doctype html>
<html lang="en" ng-app="RequestTester">
<head>
    <meta charset="UTF-8">
    <title>Open Api tester</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/main.js"></script>
</head>
<body>
<h1>Api tester</h1>

<div class="container">
    <div class="row">
        <div ng-view=""></div>
    </div>
</div>

</body>
</html>